#jobexperience {
    background-color: #02020e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.date {
    color: #a7a7a7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin: 0 0 15px 0;
}

.job {
    width: 40%;
}

.jobheader {
    margin: 0;
    padding: 0;
    font-size: 2.3rem;
    font-family: 'Oswald';
    color: white;
}

.jobSectionText {
    color: #f8f7da;
    font-size: 1.5rem;
    margin: 0 0 25px 0;
    font-family:Arial, Helvetica, sans-serif;
}

#jobsubheading {
    margin: 0 0 50px 0;
    padding: 0;
    font-size: 3rem;
    font-family: 'Oswald';
    color: white;
}