#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f7da;
  z-index: 1000;
  padding: 10px 2rem 1em 2rem;
  border-radius: 5%;
  font-family: 'Grand Hotel', cursive;

  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;

  animation:fadein .5s;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0);
    opacity: 0.7;
    z-index: 1000;
    animation: fadeinOverlay .5s;
}

.slider {
  transition:all 0.25s;
  width: 16rem;
  padding: 1.2rem;
  margin-bottom: 0.7em;
  text-align: center;
  border-radius: 5ch;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
}

.slider:hover { 
  transform: scale(1.08);
}
  

#github {
  background: rgb(46,42,119);
  background: linear-gradient(90deg, rgba(46,42,119,1) 0%, rgba(79,79,180,1) 31%, rgba(0,212,255,1) 100%);
}

#linkedIn {
  background: rgb(36,33,188);
background: linear-gradient(90deg, rgba(36,33,188,1) 0%, rgba(16,180,68,1) 100%);
}

#gmail {
  background: rgb(233,0,0);
background: linear-gradient(90deg, rgba(233,0,0,1) 0%, rgba(198,193,24,0.9836309523809523) 100%);
}

#phone {
  background: rgb(36,33,188);
background: linear-gradient(90deg, rgba(36,33,188,1) 0%, rgba(180,16,171,1) 100%);
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@keyframes fadeinOverlay {
	from {
		opacity:0;
	}
	to {
		opacity:0.7;
	}
}
