#aboutme {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  font-family: 'Roboto', sans-serif;
  background: #02020e;
  min-height: 85vh;

  z-index: 1;
}

#aboutmeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  padding-left: 20px;
  padding-right: 20px;
}

#textContent {
  width:55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
}

.image {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 11;
  border-radius: 30%;
  box-shadow: 10px 5px 0px #f8f7da;
}

.imageContainer {
  position: relative;
  float: right;
  max-width: 500px;
  min-width: 288px;
  width: 38%;
  margin-left: 2em;
  margin-top: 1em;
  border-radius: 30%;
  z-index: 10;
}

#mainHeader {
  font-size: 3.5rem;
  letter-spacing: -2%;
  margin: 0.4em 0 0 0;
  font-family: 'Oswald';
  color: white;
}

.sectionText {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0;
  margin-bottom: 3em;
  color: #f8f7da;
  z-index: 3;
}

.subheading {
  margin: 1.3em 0 0 0;
  padding: 0;
  font-size: 2.5rem;
  font-family: 'Oswald';
  color: white;
}

#me {
  margin: 0;
  font-size: 1.2rem;
  color: #f8f7da;
  font-weight: 100;
}

@media (max-width: 544px) {
  .imageContainer {
    width: 100%;
    min-width: 0px;
    max-width: 350px;
    float: none;
    margin: 0;
  }

  #textContent {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  #aboutmeContent {
    flex-direction: column-reverse;
    margin-top: 5em;
    width: 80%;
  }

  #mainHeader {
    font-size: 1.8rem;
  }

  .section {
    width: 100%;
  }

  .subheading {
    font-size: 1.7rem;
  }

  .sectionText {
    font-size: 0.8em;
    margin-bottom: 1em;
  }

  #me {
    font-size: 1.1rem;
  }
}
