#projectsHeader {
  margin: 0 0 50px 0;
  padding: 0;
  font-size: 3rem;
  font-family: 'Oswald';
  color: white;
}

#projects {
  padding-bottom: 100px;
  background-color: #02020e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projectContainer {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.project {
  transition: all 0.5s;
  background-color: rgb(230, 230, 230);
  max-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}

.projectImage {
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.thumbnailContainer {
  max-width: 100%;
  height: 40%;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
}

.projectHeader {
  text-align: center;
  color: #03201a;
  font-size: 1.5rem;
  margin: 25px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

.projectText {
  color: #021a14;
  padding: 0 25px 0 25px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}


.project:hover {
    transform:scale(1.09);
    box-shadow: 10px 5px 0px #03201a;
}

@media (max-width:544px) {
  #projectContainer {
    flex-direction: column;
    align-items: center;
  }
  .project { 
    max-width: 75%;
    margin-bottom: 25px;
  }

  .projectText {
    font-size: 1rem;
  }

  #projectsHeader {
    font-size: 2rem;
  }

  .projectHeader {
    font-size: 1.2rem;
  }

}