@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

#experince {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
  background-color: #02020e;
}

.subheading2 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-family: 'Oswald';
  color: white;
}

.whiteSection {
  width: 55%;
  min-height: 200px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #02020e;
  color: white;
  font-size: 35px;
  display: flex;
  flex-direction: column;

}

.skillSection {
  margin-bottom: 50px;
}


.whiteSectionText {
  font-size: 0.8em;
  margin: 0 0 1em 0;
  color: white;
  text-align: left;
  z-index: 3;
}

.descriptionText {
  font-size: 1.3rem;
  margin: 0 0 1em 0;
}

.skillPageHeader {
  font-size: 2rem;
  margin: 0;
  color: #f8f7da
}

#certifications {
  margin: 0 0 1em 0;
}

.certification {
  font-size: 1.3rem;
  font-style: italic bold;
}

.skill {
  border-radius: 25px;
  padding: 15px;
  background-color: rgb(0, 27, 34);
  margin-bottom: 0.5em;
}


@media (max-width:544px) { 
  .whiteSectionText {
    text-align: center;
    font-size: 1.0rem;
  }

  .whiteSection {
    width: 95%;
  }

  .subheading2 {
    text-align: center;
    font-size: 2.1rem;
  }
  .section {
    text-align: center;
  }

  .imageContainer {
    width: 100%
  }

  .descriptionText {
    font-size: 0.9rem;
  }

  .skillPageHeader {
    font-size: 1.1rem;
  }

  .certification {
    font-size: 1rem;
  }

  #experince {
    padding-top: 10vh;
  }
}
