#skillSection {
  background-color: #f8f7da;
  margin: 0 0 0 0;
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

#skillContainer {
  width: 60%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-row: auto auto;
  gap: 2rem;
}

.skillTextContainer {
  font-size: 1.2rem;
}

.commonText {
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.linkToSkills {
  transition: all 0.25s;
  background-color: rgb(1, 11, 17);
  padding: 10px;
  width: 100px;
  color: white;
  border-radius: 15px;
}

.linkToSkills:hover {
  background-color: rgb(236, 178, 17);
  color: #02020e;
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

.gridImage {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

#textContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#textContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

#container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

#container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.skillHeader {
  margin: 0;
  font-size: 3rem;
  color: #03031f;
}

.skillSubHeader {
  font-size: 1.5rem;
  margin: 0;
  font-style: italic;
}


@media (max-width: 1270px) {
  #skillContainer  {
    width: 80%;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    margin-bottom: 50px;
  }

  #textContainer1 {
    text-align: center;
  }
  
  #textContainer2 {
    text-align: center;
  }

  .commonText {
    font-size: 0.8rem ;
    line-height: 1rem;
  }

  #skillContainer {
    font-size: 0.8rem;
  }

  .skillSubHeader {
    font-size: 1rem;
  }

  .skillHeader {
    font-size: 1.7rem;
  }

  #container3 {
    order: 4;
  }

  .linkToSkills {
    font-size: 0.8rem;
  }
}