@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

#navMain {
  transition:all 0.5s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #02020e;
  max-height: 10vh;
  min-height: 64px;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#contact-me-button {
  background-color: #f39c12;
  border-radius: 7%;
  min-width: 5vw;
  height: 50px;
  padding: 0 5px 0 5px;
  margin-right: 2em;
  font-family: 'Oswald';
  font-size: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
}

#link {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

#headerContainer {
  transition:all 1s;
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 1.4rem;
  font-family: 'Grand Hotel', cursive;
  color: #f8f7da
}

.buttonContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbarContainer {
  flex: 1;
}

@media (max-width: 544px) {
  .buttonContainer{
    display: none;
  }
  .navbarContainer {
    display: none;
  }

  #headercontainer {
    font-size: 4rem !important;
  }
  #navMain {
    height: 50px;
  }
  #navHeader {
    margin: 0;
  }
  
}
