#mainFooterSkills, #mainFooter {
    position: relative;
    padding: 2em 2em 2em 4em;
    background-color: #02020e;
    color: #f8f7da;
    font-size: 1.2rem;
    margin: 0;
}

#mainFooter {
    background-color: #f8f7da;
    color: #02020e;
}

#addressess {
    max-width: 400px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#addresslist {
    list-style-type: none;
}

.addressbar {
    display: flex;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black
}

.icon {
    margin-right: 5px;
}

@media (max-width: 544px) {
    #mainFooter, #mainFooterSkills {
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2em 2em 2em 0;
    }
}
