#mainFooter {
    position: relative;
    padding: 2em 2em 2em 4em;
    width: 100%;
    background-color: #f8f7da;
    font-size: 1.2rem;
    
}

#addressess {
    color: #02020e;
    max-width: 400px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#addresslist {
    list-style-type: none;
}

.addressbar {
    display: flex;
    margin: 10px;
}
a {
    text-decoration: none;
    color: black
}

.icon {
    margin-right: 5px;
}