@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

#aboutme {
  position: relative;
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
  background: #02020e;
}

#experince {
  position: relative;
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  display: block;
  z-index: 1;
  background: rgb(2,2,14);
  background: linear-gradient(180deg, rgba(2,2,14,1) 17%, rgba(69,69,186,1) 98%);
}


.section {
  width: 55%;
  min-height: 200px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #02020e;
  color: white;
  font-size: 35px;
}

.subheading {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-family: 'Oswald';
  color: white;
}

.sectionText {
  font-size: 0.8em;
  margin: 0;
  margin-bottom: 3em;
  color: #f8f7da;
  z-index: 3;
}

.imageContainer {
  position: relative;
  float: right;
  max-width: 500px;
  min-width: 288px;
  width: 38%;
  margin-left: 1em;
  margin-top: 1em;
  border-radius: 30%;
  z-index: 10;
}

.image {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 11;
  border-radius: 30%;
}

#mainHeader {
  margin: 0.4em 0 0.2em 0;
  font-family: 'Oswald'
}


#firstpart {
  padding-top: 15vh;
  min-height: 90vh;

}

#secondpart {
  background-color: #f8f7da;
  color: black;
  width: 100%;
}




@media (max-width:985px) { 
  .sectionText {
    text-align: center;
  }
  .section {
    text-align: center;
  }

  .imageContainer {
    width: 100%
  }
}
